<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="lmapAddEquipmentItem" xsi:type="object">Lmap\EquipmentStore\Console\Command\AddEquipmentItem</item>
                <item name="lmapDeleteEquipmentItem" xsi:type="object">Lmap\EquipmentStore\Console\Command\DeleteEquipmentItem</item>
            </argument>
        </arguments>
    </type>
</config>